<div>
  <h2 id="page-heading" data-cy="PrimeNgTableHeading">
    <span jhiTranslate="demoApp.primeNgTable.home.title">Prime Ng Tables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="demoApp.primeNgTable.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prime-ng-table"
        [routerLink]="['/prime-ng-table/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="demoApp.primeNgTable.home.createLabel"> Create a new Prime Ng Table </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <!-- <jhi-filter [filters]="filters"></jhi-filter> -->

  <div class="alert alert-warning" id="no-result" *ngIf="primeNgTables?.length === 0">
    <span jhiTranslate="demoApp.primeNgTable.home.notFound">No Prime Ng Tables found</span>
  </div>

  <div id="entities" *ngIf="primeNgTables && primeNgTables.length > 0">
    <p-table
      [value]="primeNgTables"
      styleClass="p-datatable-sm"
      (onSort)="sortColumn($event)"
      sortMode="single"
      [totalRecords]="totalItems"
      [paginator]="true"
      [rows]="itemsPerPage"
      [lazy]="true"
      [sortField]="predicate"
      (onLazyLoad)="loadData($event)"
      (filterChange)="onFilterChange('id', $event)"
      [showCurrentPageReport]="true"
      [first]="first"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[3, 10, 20, 50]"
    >
      <ng-template pTemplate="header">
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
          <th pSortableColumn="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <p-sortIcon field="id"></p-sortIcon>
              <p-columnFilter type="numeric" field="id" display="menu"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="text">
            <div class="d-flex">
              <span jhiTranslate="demoApp.primeNgTable.text">Text</span>
              <p-sortIcon field="text"></p-sortIcon>
              <p-columnFilter type="text" field="text" display="menu"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="number">
            <div class="d-flex">
              <span jhiTranslate="demoApp.primeNgTable.number">Number</span>
              <p-sortIcon field="number"></p-sortIcon>
              <p-columnFilter type="numeric" field="number" display="menu"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="floatNumber">
            <div class="d-flex">
              <span jhiTranslate="demoApp.primeNgTable.floatNumber">Float Number</span>
              <p-sortIcon field="floatNumber"></p-sortIcon>
              <p-columnFilter type="numeric" field="floatNumber" display="menu"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="date" scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="demoApp.primeNgTable.date">Date</span>
              <p-sortIcon field="date"></p-sortIcon>
              <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="zoneDate" scope="col" jhiSortBy="zoneDate">
            <div class="d-flex">
              <span jhiTranslate="demoApp.primeNgTable.zoneDate">Zone Date</span>
              <p-sortIcon field="zoneDate"></p-sortIcon>
              <p-columnFilter type="date" field="zoneDate" display="menu"></p-columnFilter>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span jhiTranslate="demoApp.primeNgTable.image">Image</span>
            </div>
          </th>
          <th pSortableColumn="longText" scope="col" jhiSortBy="longText">
            <div class="d-flex">
              <span jhiTranslate="demoApp.primeNgTable.longText">Long Text</span>
              <p-sortIcon field="longText"></p-sortIcon>
              <p-columnFilter type="text" field="longText" display="menu"></p-columnFilter>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-primeNgTable>
        <tr class="p-selectable-row" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prime-ng-table', primeNgTable.id, 'view']">{{ primeNgTable.id }}</a>
          </td>
          <td>{{ primeNgTable.text }}</td>
          <td>{{ primeNgTable.number }}</td>
          <td>{{ primeNgTable.floatNumber }}</td>
          <td>{{ primeNgTable.date | formatMediumDate }}</td>
          <td>{{ primeNgTable.zoneDate | formatMediumDatetime }}</td>
          <td>
            <a *ngIf="primeNgTable.image" (click)="openFile(primeNgTable.image, primeNgTable.imageContentType)">
              <img
                [src]="'data:' + primeNgTable.imageContentType + ';base64,' + primeNgTable.image"
                style="max-height: 30px"
                alt="primeNgTable image"
              />
            </a>
            <span *ngIf="primeNgTable.image">{{ primeNgTable.imageContentType }}, {{ byteSize(primeNgTable.image) }}</span>
          </td>
          <td>{{ primeNgTable.longText }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prime-ng-table', primeNgTable.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/prime-ng-table', primeNgTable.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(primeNgTable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- 
  <div *ngIf="primeNgTables && primeNgTables.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div> -->
</div>
