<div>
  <h2 id="page-heading" data-cy="IpMacHeading">
    <span jhiTranslate="demoApp.ipMac.home.title">Ip Macs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="demoApp.ipMac.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ip-mac"
        [routerLink]="['/ip-mac/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="demoApp.ipMac.home.createLabel"> Create a new Ip Mac </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="ipMacs?.length === 0">
    <span jhiTranslate="demoApp.ipMac.home.notFound">No Ip Macs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ipMacs && ipMacs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ip">
            <div class="d-flex">
              <span jhiTranslate="demoApp.ipMac.ip">Ip</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mac">
            <div class="d-flex">
              <span jhiTranslate="demoApp.ipMac.mac">Mac</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="networkStatus">
            <div class="d-flex">
              <span jhiTranslate="demoApp.ipMac.networkStatus">Network Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="agentStatus">
            <div class="d-flex">
              <span jhiTranslate="demoApp.ipMac.agentStatus">Agent Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="device.name">
            <div class="d-flex">
              <span jhiTranslate="demoApp.ipMac.device">Device</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ipMac of ipMacs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ip-mac', ipMac.id, 'view']">{{ ipMac.id }}</a>
          </td>
          <td>{{ ipMac.ip }}</td>
          <td>{{ ipMac.mac }}</td>
          <td>{{ ipMac.networkStatus }}</td>
          <td>{{ ipMac.agentStatus }}</td>
          <td>
            <div *ngIf="ipMac.device">
              <a [routerLink]="['/device', ipMac.device.id, 'view']">{{ ipMac.device.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/ip-mac', ipMac.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/ip-mac', ipMac.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ipMac)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ipMacs && ipMacs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
